@tailwind base;
@tailwind components;
@tailwind utilities;





@font-face {
  font-family: 'Chewy-Regular';
  src: url('/fonts/Chewy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Chinese';
  src: url('/fonts/Chinese.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#headlessui-portal-root {
  all: unset;
  font-family: inherit;
  line-height: inherit;
  color: inherit;
}