@tailwind base;
@tailwind components;
@tailwind utilities;

  
@font-face {
    font-family: 'Chilanka-Regular';
    src: url('/fonts/Chilanka-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

    
@font-face {
  font-family: 'Chewy-Regular';
  src: url('/fonts/Chewy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

